img {
    width: 50%;
    max-width: 600px;
    height: auto;
    border-radius: 5%;
}

body {
    font-family: "Palatino Linotype", Palatino, "Times New Roman", serif;    
    color: rgb(174, 208, 251);
    background-color: rgb(0, 5, 29);
    display: flex;
    align-items: center;    
    height: 100vh;           
    margin: 5vh;        
    flex-direction: column;  
}

#buttons {
    display: flex;
    flex-direction: row;      
    gap: 50px;                
    margin-top: 1em;          
}

h1 {
    font-size: 400%;
}

#narration{
    max-width: 700px;
    font-size: 125%;
    text-align: center;
}

#prompt{
    font-size: 200%;
}

button{
    width: 400px;
    height: 300px;
    font-size: 200%;
    background-color: rgb(7, 35, 98);
    border: 10% solid;
    border-color: rgb(174, 208, 251);
    color:rgb(174, 208, 251)
}

