img {
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 5%;
}

body {
    font-family: "Palatino Linotype", Palatino, "Times New Roman", serif;    
    color:rgb(178, 167, 127);
    background-color: rgb(30, 15, 0);
    display: flex;
    align-items: center;    
    height: 100vh;           
    margin: 5vh;        
    flex-direction: column;  
    padding-bottom: 300px;
}

h1 {
    font-size: 400%;
}

#narration{
    max-width: 700px;
    font-size: 125%;
    text-align: center;
}

#prompt{
    font-size: 200%;
    text-align: center;
}

button{
    width: 250px;
    height: auto;
    font-size: 200%;
    border: 10% solid;
    background-color: rgb(0, 4, 53);
    border-color: rgb(176, 153, 68);
    color:rgb(178, 167, 127);
}

input{
    width: 400px;
    height: 300px;
    font-size: 200%;
    background-color: rgb(30, 15, 0);
    border: 10% solid;
    border-color: rgb(176, 153, 68);
    color:rgb(178, 167, 127);  
}

input::placeholder {
  color: rgb(178, 167, 127);
  font-style: italic;
}